services:
  postgres:
    image: postgres:15
    container_name: taskflow-db
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: taskflow
      POSTGRES_PASSWORD: taskflow
      POSTGRES_DB: taskflow
      PGDATA: /var/lib/postgresql/data/pgdata  # Add this line
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    container_name: taskflow-redis
    ports:
      - "6379:6379"
  api:
    build: .
    container_name: taskflow-api
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgresql://taskflow:taskflow@postgres:5432/taskflow
      REDIS_HOST: redis

volumes:
  pgdata: